{%- if page.layout == "post" -%}
{%- include structured-data-breadcrumbs.html current_name=page.title -%}

{%- if page.gallery -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ImageGallery",
  "name": {{ page.title | jsonify }},
  "url": {{ page.url | absolute_url | jsonify }},
  "author": {
    "@type": "Person",
    "@id": "{{ site.author.url }}#person",
    "name": {{ site.author.name | jsonify }}
  },
  "associatedMedia": [
    {%- for image in page.gallery -%}
    {
      "@type": "ImageObject",
      "contentUrl": {{ image | absolute_url | jsonify }},
      "url": {{ image | absolute_url | jsonify }}
    }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
}
</script>
{%- endif -%}
{%- endif -%}
