{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "{{ site.author.url }}#person",
  "name": {{ site.author.name | jsonify }},
  "url": {{ site.author.url | jsonify }},
  "image": {{ site.author.image | absolute_url | jsonify }},
  "description": {{ site.author.description | jsonify }},
  "jobTitle": {{ site.author.job_title | jsonify }},
  "alumniOf": {
    "@type": "CollegeOrUniversity",
    "name": {{ site.author.alumni_of | jsonify }}
  },
  "worksFor": {
    "@type": "Organization",
    "name": {{ site.author.works_for.name | jsonify }},
    "url": {{ site.author.works_for.url | jsonify }}
  },
  "memberOf": [
    {%- for org in site.author.member_of -%}
    {
      "@type": "Organization",
      "name": {{ org.name | jsonify }}{% if org.url %},
      "url": {{ org.url | jsonify }}{% endif %}
    }{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "award": [
    {%- for award in site.author.awards -%}
    {{ award | jsonify }}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "knowsAbout": [
    {%- for topic in site.author.knows_about -%}
    {{ topic | jsonify }}{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ],
  "sameAs": {{ site.social.links | jsonify }}
}
